reading csv

##Data Cleaning and pre-processing

In [ ]:
import pandas as pd
df=pd.read_csv('weblog.csv',index_col=False)

In [ ]:
df.head()

           IP  ... Staus
0  10.128.2.1  ...   200
1  10.128.2.1  ...   302
2  10.128.2.1  ...   200
3  10.131.2.1  ...   200
4  10.130.2.1  ...   200

[5 rows x 4 columns]

cleaning datetime column

In [ ]:
df['Time']=df['Time'].str.replace('[','')
df['Time']= pd.to_datetime(df['Time'],format='%d/%b/%Y:%H:%M:%S', errors='coerce')

cleaning typo

In [ ]:
df=df.rename(columns={"Staus": "Status"})

splitting URL

In [ ]:
df[['Method','URL','HTTP']] = df['URL'].str.split(' ',expand=True)

In [ ]:
df.head()

           IP                Time  ... Method      HTTP
0  10.128.2.1 2017-11-29 06:58:55  ...    GET  HTTP/1.1
1  10.128.2.1 2017-11-29 06:59:02  ...   POST  HTTP/1.1
2  10.128.2.1 2017-11-29 06:59:03  ...    GET  HTTP/1.1
3  10.131.2.1 2017-11-29 06:59:04  ...    GET  HTTP/1.1
4  10.130.2.1 2017-11-29 06:59:06  ...    GET  HTTP/1.1

[5 rows x 6 columns]

Checking for NULL values

In [ ]:
df.isnull().sum()

IP          0
Time      218
URL       218
Status      0
Method      0
HTTP      218
dtype: int64

Time column has null value, which will throw an error when amking a datetime column in PSQL.

There are null values for time right after there was an error of some sort. So to fill the time of error inplace of null values when error was encountered is a good strategy. We will use the forward fill method for this.

In [ ]:
df.Time.fillna(method='ffill', inplace=True)

In [ ]:
df.isnull().sum()

IP          0
Time        0
URL       218
Status      0
Method      0
HTTP      218
dtype: int64

Let's take a look at the data before saving it.

In [ ]:
df

               IP                Time  ... Method      HTTP
0      10.128.2.1 2017-11-29 06:58:55  ...    GET  HTTP/1.1
1      10.128.2.1 2017-11-29 06:59:02  ...   POST  HTTP/1.1
2      10.128.2.1 2017-11-29 06:59:03  ...    GET  HTTP/1.1
3      10.131.2.1 2017-11-29 06:59:04  ...    GET  HTTP/1.1
4      10.130.2.1 2017-11-29 06:59:06  ...    GET  HTTP/1.1
...           ...                 ...  ...    ...       ...
16002  10.130.2.1 2018-03-02 15:47:12  ...    GET  HTTP/1.1
16003  10.130.2.1 2018-03-02 15:47:23  ...    GET  HTTP/1.1
16004  10.130.2.1 2018-03-02 15:47:32  ...    GET  HTTP/1.1
16005  10.130.2.1 2018-03-02 15:47:35  ...    GET  HTTP/1.1
16006  10.130.2.1 2018-03-02 15:47:46  ...    GET  HTTP/1.1

[16007 rows x 6 columns]

In [ ]:
df.IP.value_counts()

10.128.2.1    4257
10.131.0.1    4198
10.130.2.1    4056
10.129.2.1    1652
10.131.2.1    1626
chmod:          95
rm:             72
[Tue            17
sh:              7
[Thu             6
timeout:         5
[Wed             5
[Mon             5
a.out:           4
[Sat             1
[Fri             1
Name: IP, dtype: int64

In [ ]:
df.Status.value_counts()

200             11330
302              3498
304               658
404               251
No                167
206                52
2018]              28
2017]               7
dumped              5
Assertion           4
Aborted             4
found               2
Segmentation        1
Name: Status, dtype: int64

In [ ]:
df.Method.value_counts()

GET             15098
POST              682
'error.txt':       64
'*.o':             62
'a.out':           41
HEAD                9
12:58.7             5
29:09.2             5
48:37.1             5
24:12.8             5
52:06.9             5
02:49.8             5
command             5
main():             4
not                 2
848                 1
451                 1
40:28.7             1
1192                1
20:28.3             1
44:47.7             1
51:47.0             1
1243                1
00:53.4             1
1226                1
Name: Method, dtype: int64

In [ ]:
df.HTTP.value_counts()

HTTP/1.1    15742
HTTP/1.0       47
Name: HTTP, dtype: int64

In [ ]:
df.to_csv('weblog_clean.csv', index=False)